* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo img {
    width: 150px;
    height: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
   background-color:rgb(144, 180, 83);
}

footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 20px;
    background-color: #333;
    color: white;
    gap: 1.5rem;
}

.footer-column p {
    font-size: 14px;
}